.card {
    max-height: 500px;
    border: 0px;
}

img {
    transition: top 0.2s ease-in-out;
}

.card img {
    box-shadow: 0px 5px 10px rgba(0, 0, 1, 0.3);
    border-radius: 20px;

}

.card img:hover {
    position: relative;
    top: -5px;
}

/* ??... */
@media (max-width: 768px) {
    .card {
      margin: 20px;
    }
}
  