<div class="container-fluid" style="min-height: 100vh;">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="min-height: 100vh;">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">

        <!-- ------------------------- sidebar-heading ------------------------------- -->    
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Edit information</span>
                <a class="link-secondary" aria-label="Add a new report">
                    <span class="align-text-bottom"></span>
                </a>
            </h5>

            <li class="nav-item">
                <a href="/adminPage" class="nav-link" id="left-nav-edit-idol-info">
                    <span class="align-text-bottom"></span>
                    아이돌 정보 수정
                </a>
            </li>
              
            <li class="nav-item">
                <a href="/adminPageImg" class="nav-link" id="left-nav-edit-idol-img">
                    <span class="align-text-bottom"></span>
                    아이돌 이미지 수정
                </a>
            </li>

            <li class="nav-item">
                <a href="/adminPageKpopNews" class="nav-link" id="left-nav-edit-idol-img">
                    <span class="align-text-bottom"></span>
                    K-POP 뉴스 관리
                </a>
            </li>

            <li class="nav-item">
                <a href="/adminPageKeywords" class="nav-link" id="left-nav-edit-idol-img">
                    <span class="align-text-bottom"></span>
                    키워드 관리
                </a>
            </li>
        <!-- ------------------------- sidebar-heading ------------------------------- -->
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Management</span>
                <a class="link-secondary" aria-label="Add a new report">
                  <span class="align-text-bottom"></span>
                </a>
            </h5>
            
            <li class="nav-item">
            <a class="nav-link">
                <span class="align-text-bottom"></span>
                어드민 관리
            </a>
            </li>  

            <li class="nav-item">
            <a class="nav-link">
                <span class="align-text-bottom"></span>
                입력 관리
            </a>
            </li>  
            
        </div>
      </nav>