<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9658533113925875"
     crossorigin="anonymous"></script>
     
    <title>FANCAM MOA ERROR</title>
    
<style>
    h1 {
        display: flex;
    }
</style>
</head>
<body>
    <h1>💥 FANCAM MOA ERROR 💥</h1>
    <h1>💥 FANCAM MOA ERROR 💥</h1>
</body>
</html>