.idol-rank-nev {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

.idol-rank-nev-items {
    display: flex;
    flex-direction: column;
    align-items: center
}

#idol-rank-nev-title {
    font-weight: 400;
    margin-bottom: 10px;
}

#idol-rank-nev-explanation {
    margin-left: 0px;

}

#idol-rank-nev-TOP {
    font-weight: 600;
    margin-bottom: 30px;
}